* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*
font-family: 'Roboto', sans-serif;

***COLORS**
purple
#7122bf

aqua
#5ae0c3

yellow
#f5ef3b

green 
#8df547
*/